.header{
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    width: 100%;
    padding: 1rem;
    z-index: 1000;
    box-shadow: 0 2px 4px black;
}
.logo{
    color: black;
    font-weight: 600;
    cursor: pointer;
    align-items: center;
    justify-content: center;
}
.logo .icon{
    font-size: 25px;
    color: black;
    transform: translateY(5px);
}
@media screen and (max-width: 768px) {
    .navBar{
        position: absolute;
        padding: 1rem;
        background-color: aliceblue;
        height: max-content;
        width: 80%;
        border-radius: 1rem;
        top:  -500rem;
        left: 50%;
        transform: translate(-50%);
        z-index: 2000;
        box-shadow: 0 2px 4px black;
        transition:  .1s ease-in-out;
    }
    .navBar .navLists{
        flex-direction: column;
        justify-content: center;
        width: 100%;
        margin: auto;
        padding:  .5rem 0;
    }
    .navItem{
        padding: .5rem 0;
    }
    .navLink{
        color: Black;
        font-size: .9rem;
        font-weight: 600;
    }
    .navLink:hover{
        color: skyblue;
    }
    .btn{
        margin-top:  1rem;
        background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(8,108,204,1) 57%, rgba(0,212,255,1) 100%);
    }
    .btn a{
        font-weight: 600;
        color: white;
    }
    .closeNavbar{
        position: absolute;
        top: 1rem;
        right: 1.5rem;
    }
    .closeNavbar .icon{
        color: red;
        font-size: 1.5rem;
    }
    .activeNavbar{
        top: 4.5rem;
    }
}

.toggleNavbar .icon{
    font-size: 25px;
    color: black;

}
.toggleNavbar .icon:hover{
    color: cornflowerblue;
}
